body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls > * {
    margin: 5px 0;
}

canvas {
    border: 1px solid #000;
}

#healthBarContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#healthBar {
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}

#healthBarFill {
    height: 100%;
    background-color: #76c7c0;
    width: 100%; /* Initially full */
    transition: width 0.25s;
}
